<!DOCTYPE html>
<html>
  <head>
    <title>React Admin</title>
    <script type="application/javascript">
      window.Fusion=window.Fusion||{}
      Fusion.isAdmin=true
      Fusion.contextPath='{{contextPath}}'
      Fusion.contentCache={}

      {{!--
        this file is evaluated at compile-time and served as static from S3
        as such, we do not know the version number at evaluation
        so we must determine it dynamically
      --}}

      var vMatch = /(\?|&)v=([^&]*)/.exec(window.location.search)
      var v = vMatch ? vMatch[2] : ''

      function addElement (tag, type, attr, rel) {
        return function (url) {
          var e = document.createElement(tag)
          e.type = type
          e.rel = rel
          e[attr] = url
          document.head.appendChild(e)
        }
      }

      var addJs = addElement('script', 'application/text', 'src')
      var addCss = addElement('link', 'text/css', 'href', 'stylesheet')

      addJs('{{contextPath}}/dist/engine/admin.js?v=' + v)
      addJs('{{contextPath}}/dist/components/combinations/{{outputType}}.js?v=' + v)
      addCss('{{contextPath}}/dist/components/output-types/{{outputType}}.css?v=' + v)
      addCss('{{contextPath}}/dist/components/combinations/{{outputType}}.css?v=' + v)

      {{!--
        document.write(`<script type="application/javascript" src="{{contextPath}}/dist/engine/admin.js?v=${v}"><\/script>`)
        document.write(`<script type="application/javascript" src="{{contextPath}}/dist/components/combinations/{{outputType}}.js?v=${v}"><\/script>`)
        document.write(`<link type="text/css" rel="stylesheet" href="{{contextPath}}/dist/components/output-types/{{outputType}}.css?v=${v}" />`)
        document.write(`<link type="text/css" rel="stylesheet" href="{{contextPath}}/dist/components/combinations/{{outputType}}.css?v=${v}" />`)
      --}}
    </script>
  </head>
  <body>
    <div id="fusion-app"></div>
  </body>
</html>
