<!DOCTYPE html>
<html>
  <head>
    <script src="/_assets/engine.js" defer="defer"></script>
    <script src="/_template{{ uri }}" onerror="notFound()" defer="defer"></script>
    <script src="/_content{{ uri }}?v=content" onerror="notFound()" defer="defer"></script>

    <title>{{# if title }}{{ title }}{{ else }}Handlebars Layout{{/ if }}</title>

    <!-- <link rel="icon" type="image/png" sizes="96x96" href="/_assets/favicon-96x96.png" /> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/_assets/favicon-32x32.png" /> /-->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/_assets/favicon-16x16.png" /> /-->
    <!-- <link rel="stylesheet" type="text/css" href="/_assets/style.css" /> /-->
  </head>
  <body onload="render(content)">
    <div id="App">
      {{{ body }}}
    </div>
  </body>
</html>
